@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Pinyon+Script&family=Tangerine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ..........................NAV................. */
.logo{
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  @apply font-extrabold text-3xl
}
.list{
  @apply mr-7 hover:text-pink-500 lg:px-5 mt-4 font-bold;
 
}




/* .............................home......................... */
.Home{
  background-image: url('../src/assets/hero-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30%;
  height: 50vh;
  @apply flex flex-col justify-center items-center;
}
.home-container{
  @apply max-w-7xl mx-auto flex flex-col justify-center items-center text-white leading-10;
}

.Home h2{
  @apply text-6xl font-bold text-white text-center;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
.home-btn{
  @apply bg-pink-500 text-white hover:bg-purple-500 py-1 px-2 font-bold rounded-lg;
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
}
.home-para{
  font-family: cursive;
  font-weight: 400;
  font-style: normal;
  @apply mb-4 text-2xl
}